<div class="row">
  <div class="col-25">
<section class="joinnow">
    <div class="login col-lg-4 m-auto shadow-lg">
        <form>
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <button type="submit" class="btn btn-primary col-lg-12">Log In</button>
            
    
          </form>

    </div>
    </section>
    </div>
    <div class="col-25">
    <div class="register">

      <form action="/action_page.php" style="max-width:500px;margin:auto">
        <h2 style="text-align: center;">Register Form</h2>
        <br>
        <div class="input-container">
          <i class="fa fa-user icon"></i>
          <input class="input-field" type="text" placeholder="Username" name="usrnm">
        </div>
      
        <div class="input-container">
          <i class="fa fa-envelope icon"></i>
          <input class="input-field" type="text" placeholder="Email" name="email">
        </div>
        
        <div class="input-container">
          <i class="fa fa-key icon"></i>
          <input class="input-field" type="password" placeholder="Password" name="psw">
        </div>
      
        <button type="submit" class="btn">Register</button>
      </form>
      
    </div>
    </div>
    </div>
   
    <section>
    
    <div class="component" style="width: 100%;">
      <ul class="align">
        <li>
          <figure class='book'>

            <!-- Front -->

            <ul class='hardcover_front'>
              <li>
                <div class="coverDesign blue">
                  <h1>Code</h1>
                  <p>Academy</p>
                </div>
              </li>
              <li></li>
            </ul>

            <!-- Pages -->

            <ul class='page'>
              <li></li>
              <li>
                <a class="btn" href="#">Join us</a>
              </li>
              <li></li>
              <li></li>
              <li></li>
            </ul>

            <!-- Back -->

            <ul class='hardcover_back'>
              <li></li>
              <li></li>
            </ul>
            <ul class='book_spine'>
              <li></li>
              <li></li>
            </ul>
            <figcaption>
              <h1>Website dedicated to sharing resources</h1>
              
              
            </figcaption>
          </figure>
        </li>
      </ul>
    </div>
    

</section>
