<nav class="navbar navbar-expand-lg navbar-light sticky" >
    <h2><a class="navbar-brand" routerLink="" style=" color : #cc6633;
    font : 200% impact, futura, sans-serif;
    text-transform : uppercase;
    float : left;
    overflow : hidden;
    position : relative;
    padding-left : 3px;text-size-adjust:inherit;">CodeCademy</a></h2>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="position-absolute top-0 end-0">
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml -auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="" style="font-size:xx-large;font-weight: bold;font-style: italic;color:sienna;">Home <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="cours" style="font-size:xx-large;font-weight: bold;font-style: italic;color:sienna;">Course</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="joinus" style="font-size:xx-large;font-weight: bold;font-style: italic;color:sienna;">JoinNow</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about" style="font-size:xx-large;font-weight: bold;font-style: italic;color:sienna;">About</a>
        </li>
      </ul>
    </div>
  </div>
  </nav>
  <router-outlet></router-outlet>
  
  <footer class="text-center mt-2">
    <p style="font-size:x-large;">&copy; E-education 2022. All right reserved</p>
  </footer>