<br>
<br>
<br>
<br>
<br>

<div class="dropdown">
    <button class="dropbtn">Session</button>
    <div class="dropdown-content">
      <a routerLink="/session-add">Add</a>
      <a routerLink="/session-edit">Edit</a>
      <a routerLink="/session-list">List</a>
    </div>
  </div>

  <div class="dropdown">
    <button class="dropbtn">Labs</button>
    <div class="dropdown-content">
      <a routerLink="/lab-add">Add</a>
      <a routerLink="/lab-edit">Edit</a>
      <a routerLink="/lab-list">List</a>
    </div>
  </div>

  <div class="dropdown">
    <button class="dropbtn">Category</button>
    <div class="dropdown-content">
      <a routerLink="/category-add">Add</a>
      <a routerLink="/category-edit">Edit</a>
      <a routerLink="/category-list">List</a>
    </div>
  </div>

  <div class="dropdown">
    <button class="dropbtn">Course</button>
    <div class="dropdown-content">
      <a routerLink="/course-add">Add</a>
      <a routerLink="/course-edit">Edit</a>
      <a routerLink="/course-list">List</a>
    </div>
  </div>

  <div class="dropdown">
    <button class="dropbtn">Chapter</button>
    <div class="dropdown-content">
      <a routerLink="/chapter-add">Add</a>
      <a routerLink="/chapter-edit">Edit</a>
      <a routerLink="/chapter-list">List</a>
    </div>
  </div>

  <div class="dropdown">
    <button class="dropbtn">Team</button>
    <div class="dropdown-content">
      <a routerLink="/team-add">Add</a>
      <a routerLink="/team-edit">Edit</a>
      <a routerLink="/team-list">List</a>
    </div>
  </div>
  
  <section><router-outlet></router-outlet></section>
 

  
  <div class="row">
    <img src="i../../assets/admin11.jpg" alt="Cinque Terre" width="1000" height="80%">
  </div>

