<br>
<br>
<div style="text-align: center;">
<h2>Edit Course</h2>
<br>
</div>


<div class="container" style="background-color: khaki;">
  <form action="/action_page.php">
    <div class="row">
      <div class="col-25">
        <label for="fname">Course Name</label>
      </div>
      <div class="col-75">
        <input type="text" id="fname" name="firstname" placeholder="course name..">
      </div>
    </div>
    <div class="row">
        <div class="col-25">
          <label for="fname">Key-Words</label>
        </div>
        <div class="col-75">
          <input type="text" id="fname" name="firstname" placeholder="edit your key..">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="fname">Cost</label>
        </div>
        <div class="col-75">
          <input type="text" id="fname" name="firstname" placeholder="edit course cost..">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="fname">Level</label>
        </div>
        <div class="col-75">
          <input type="text" id="fname" name="firstname" placeholder="course level..">
        </div>
      </div>
      <div class="row">
        <div class="col-25">
          <label for="fname">Delai</label>
        </div>
        <div class="col-75">
          <input type="text" id="fname" name="firstname" placeholder="edit your course delai..">
        </div>
      </div>

    
   
    <div class="row">
      <div class="col-25">
        <label for="subject">Description</label>
      </div>
      <div class="col-75">
        <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>
      </div>
    </div>
    
     
   
    
    <div class="row">
      <input type="submit" value="Submit">
    </div>
  </form>
</div>




