<section class="home">
    <img src="../../assets/nnn.jpg">
    <div class="homecontent">
        <h1>Start Learning For Futur bright</h1>
        <a routerLink="/cours" class="btn btn-lg btn-light">Discover Courses</a> &nbsp;
        <a routerLink="/joinus" class="btn btn-lg btn-primary">Join Now</a>
    </div>
</section>



<div class="container">

    <div class="section-heading text-center mt-5">
        <h2>CodeCademy</h2>
        <br>
        <p style="color: black; font-size: 18px;">To boost your employability, our platforme always finds prestigious partners, including E-education, the leader in IT, which offers free and certified online training! </p>
        <p style="color: black;"><span>Get started now to learn new skills and seize new opportunities!</span></p>
    </div>


    <div class="arbre text-center mt-5">
        <img src="../../assets/aza.jpg" alt="" target="_blank">
    </div>


        <br>
        
            
            <div class="tab-pane fade show active mb-5">
                <div class="row no-gutters justify-content-center">
    
                    <div class=" col-md-4 ">
                        <div class="card pricing-card active mb-30">
                            <div class="pricing-heading d-flex align-items-center">
    
                                <div class="price" style="text-align: center; margin: 12px; margin-left: 50px;" >
                                    <img src="../../assets/explorer.png" alt="" style="width: 50px;">
                                    <h4>TO EXPLORE</h4>

                                    <p>I'm brand new to emerging technologies</p>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- Single Pricing Plan-->
                    <div class=" col-md-4 ">
                        <div class="card pricing-card active mb-30">
                            <div class="pricing-heading d-flex align-items-center">
                                <div class="price" style="text-align: center;">
                                    <img src="../../assets/innovatar.png" alt="" style="width: 50px;">
                                    <h4>INNOVATAR</h4>
                                    <p class="ibm" id="ibm">I know the essentials of new technologies and I want to build
                                        innovative solutions</p>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class=" col-md-4 ">
                        <div class="card pricing-card active mb-30">
                            <div class="pricing-heading d-flex align-items-center">
                                <div class="price" style="text-align: center; margin: 10px;">
                                    <img src="../../assets/succed.png" alt="" style="width: 50px;">
                                    <h4>SUCCEED</h4>
                                    <p>I want to acquire new skills aligned with the functions</p>
                                </div>
                            </div>
                            
                        </div>
                    </div>


                    
               </div>
                
            </div>
    
    
</div>





<br>


<div class="container-fluid">
    <div class="section-heading text-center mb-5">
        <h1>CodeCademy platforme it is ...</h1>
    </div>
</div>


<div class="container">
    <div class="section-heading text-center">
     <div class row>
    
       <p class="flotte">
        <img src="../../assets/aaaa.svg" alt="Nouveau !" style="width: 30%;">
       </p>

       <h2>1. Courses on computers and new technologies</h2>
       <p style="color: black; font-size: 18px;">We won't let you drive a car without first teaching you how to use it, but we will let you get by in front of a computer without even showing you the basics. Do not worry anymore. Learning computer science is not that complicated when you have the right support. Xyoos was invented in this sense: to help you learn very easily to master your computer without being afraid of breaking everything with each click! The best part: it's completely free!</p>


       <br>
       <p class="flotte">
        <img src="../../assets/libraire.svg" alt="Nouveau !" style="width: 30%;">
       </p>
       <h2>2. A dictionary to understand new terms</h2>
       <p style="color: black;  font-size: 18px;">New technologies have brought a whole new jargon that is sometimes not easy to understand. We have thought of you, and have created the computer dictionary, in order to present you very simply all the new computer words, sometimes anglicisms. You can play smart in front of friends thanks to your new knowledge.
        
       </p>
       <br>
       <p class="flotte">
        <img src="../../assets/journaliste.svg" alt="Nouveau !" style="width: 30%;">
       </p>
       <h2>3. News on new technologies</h2>
       <p style="color: black;  font-size: 18px;">You will master your computer very soon. Why stop there? Xyoos offers you easy-to-understand news so you don't miss out on new technologies! We publish articles regularly, do not hesitate to come back often!
        
       </p>
       <br>
       <p class="flotte">
        <img src="../../assets/guide.svg" alt="Nouveau !" style="width: 30%;">
       </p>
       <h2>4. Tutorials and practical guides</h2>
       <p style="color: black;  font-size: 18px;">Once you know the basics of computer science, you'll want to take it a step further. The tutorials cover specific topics to help you, such as how to install a new browser or update your Windows.
        
       </p>
       <br>
       <p class="flotte">
        <img src="../../assets/annuaire-pros.svg" alt="Nouveau !" style="width: 30%;">
       </p>
       <h2>5. The directory of professionals</h2>
       <p style="color: black;  font-size: 18px;">Are you looking for someone capable of helping you out, repairing your computer, or a trainer who comes to your place? We have a list just for you of companies and freelancers near you.
        
       </p>
    
</div>
</div>
</div>





<br>
<div class="container">
    <div class="section-heading text-center">
<div class="row">
    <p class="flotte">
    <img src="../../assets/map.svg" alt="Nouveau !" style="width: 50%;">
    </p>
    <h2>Who is this platform for?</h2>
    <p style="color: black;">This site is intended for any beginner wishing to learn and improve their knowledge. It is free and open to everyone, talk about it!

        Since 2008, Xyoos has welcomed nearly 10 million Internet users of all ages and from all over the world.
        
        They come from all French-speaking countries: France, Belgium, Switzerland, Canada, Haiti, not to mention many African countries!
        
        Their age is not an obstacle: Our apprentices are between 13 and 90 years old!
        
        So if they did, why not you?</p>
       
</div>
</div>
</div>