.home img
{
    width: 100%;
    height: 600px;
    object-position: center;
    object-fit: cover;

}
.homecontent
{
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%,-50%);
}
.homecontent h1
{
    color: #ffffff;
    font-size: 50px;
}
.homecontent a
{
    margin-top: 10px;
}
@media screen and (max-width:600px)
 {
    .home img
    {
        
        height: 700px;
        
    
    }
    .homecontent h1
    {
        font-size: 40px;
        
    
}
}

p {
    animation-duration: 3s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.section-heading {
    margin-top: 40px;
    position: relative;
    z-index: 1;
    margin-bottom: 30px;
}
.section-heading h2 {
    margin-bottom: 1rem;
    font-size: 2.25rem;
}
.section-heading p {
    font-size: 18px;
    margin-bottom: 0;
}
p {
    color: #747794;
    line-height: 1.9;
    font-size: 1rem;
}
.arbre img{
    width: 1050px;
    box-shadow: 0 16px 48px 12px rgb(12 82 255 / 17%);
    border-radius: 20px;
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;

}
.col-12 {
    margin-top: 10px;
    /* margin-bottom: 20px; */
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
/* Service Area */
.service-card {
    width: 350px;
    height: 200px;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
    position: relative;
    z-index: 1;
    border-radius: 6px;
    padding: 30px;
    text-align: center;
    box-shadow: 0 12px 30px rgba(47, 91, 234, 0.05);
    overflow: hidden; }
    .service-card::after {
      position: absolute;
      width: 600px;
      height: 600px;
      border-radius: 50%;
      background-color: #ffffff;
      opacity: 0.09;
      top: 20px;
      content: "";
      left: 20px;
      z-index: -1; }
    .service-card .icon {
      position: relative;
      z-index: 10;
      -webkit-transition-duration: 500ms;
      -o-transition-duration: 500ms;
      transition-duration: 500ms;
      display: block;
      width: 80px;
      height: 80px;
      margin: 0 auto 45px;
      background-color: #0b0757;
      border-radius: 50%;
      color: #ffffff;
      font-size: 2rem; }
      .service-card .icon i {
        line-height: 80px; }
      .service-card .icon::after {
        position: absolute;
        width: calc(100% + 20px);
        height: calc(100% + 20px);
        content: "";
        top: -10px;
        left: -10px;
        background-color: transparent;
        border: 2px dashed #eff1f7;
        border-radius: 50%;
        z-index: -10; }
    .service-card h4 {
      -webkit-transition-duration: 500ms;
      -o-transition-duration: 500ms;
      transition-duration: 500ms;
      margin-bottom: 1rem; }
    .service-card p {
      -webkit-transition-duration: 500ms;
      -o-transition-duration: 500ms;
      transition-duration: 500ms;
      margin-bottom: 0; }
    .service-card.active, .service-card:hover, .service-card:focus {
      -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
      transform: translateY(-10px);
      box-shadow: 0 18px 56px rgba(47, 91, 234, 0.135);
      background-color: #0811FB;
      border-color: #0811FB; }
      .service-card.active .icon::after, .service-card:hover .icon::after, .service-card:focus .icon::after {
        border-color: rgba(255, 255, 255, 0.5); }
      .service-card.active h4,
      .service-card.active p, .service-card:hover h4,
      .service-card:hover p, .service-card:focus h4,
      .service-card:focus p {
        color: #ffffff; }
  
  .service-area {
    position: relative;
    z-index: 5; }
    .service-area .row {
      margin-right: -25px;
      margin-left: -25px; }
      .service-area .row .col-12 {
        padding-left: 25px;
        padding-right: 25px; }
      .service-area .row .col-12:nth-child(2) .icon {
        background-color: #00b894; }
      .service-area .row .col-12:nth-child(2) img {
       }
      .service-area .row .col-12:nth-child(3) .icon {
        background-color: #fdd76e; }
      .service-area .row .col-12:nth-child(3) img {
         }
      .service-area .row .col-12:nth-child(4) .icon {
        background-color: #00b894; }
      .service-area .row .col-12:nth-child(5) .icon {
        background-color: #fdd76e; }
      .service-area .row .col-12:nth-child(5) img {
        display: none; }
      .service-area .row .col-12:nth-child(6) img {
        margin-left: -70px; }
  
  .service3 .service-card {
    border: 0;
     }
    .service3 .service-card.active, .service3 .service-card:hover, .service3 .service-card:focus {
      -webkit-transform: translateY(-10px);
      -ms-transform: translateY(-10px);
      transform: translateY(-10px);
      box-shadow: 0 18px 56px rgba(47, 91, 234, 0.135);
      background-color: #ffffff; }
      .service3 .service-card.active::after, .service3 .service-card:hover::after, .service3 .service-card:focus::after {
        background-color: #0811FB; }
      .service3 .service-card.active .icon::after, .service3 .service-card:hover .icon::after, .service3 .service-card:focus .icon::after {
        border-color: #ffffff; }
      .service3 .service-card.active h4, .service3 .service-card:hover h4, .service3 .service-card:focus h4 {
        color: #0811FB; }
      .service3 .service-card.active p, .service3 .service-card:hover p, .service3 .service-card:focus p {
        color: #747794; }
  
  /* :: Pricing CSS */
  .pricing-card {
    height: 200px;
    position: relative;
    z-index: 1;
    border-radius: 15px;
    padding: 30px 20px;
    background-color: #ffffff;
    overflow: hidden; }
    .pricing-card .pricing-heading {
      position: relative;
      z-index: 1;
      margin-bottom: 30px; }
      .pricing-card .pricing-heading .price-icon {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1; }
        .pricing-card .pricing-heading .price-icon i {
          font-size: 4rem;
          color: #fdd76e; }
      .pricing-card .pricing-heading .price {
        display: block; }
        .pricing-card .pricing-heading .price h5 {
          text-transform: uppercase;
          color: #ffffff;
          font-size: 13px;
          background-color: #fdd76f;
          border-radius: 0.25rem;
          display: inline-block;
          padding: 0.25rem 0.75rem; }
        .pricing-card .pricing-heading .price h2 {
          font-size: 2.5rem;
          font-weight: 700;
          margin-bottom: 0; }
          @media only screen and (max-width: 767px) {
            .pricing-card .pricing-heading .price h2 {
              font-size: 2rem; } }
        .pricing-card .pricing-heading .price span {
          font-size: 1rem;
          color: #747794; }
    .pricing-card .pricing-desc {
      position: relative;
      z-index: 1; }
      .pricing-card .pricing-desc ul li {
        position: relative;
        z-index: 1;
        font-size: 0.8rem;
        color: #747794;
        margin-bottom: 0.75rem;
        padding-left: 25px; }
        .pricing-card .pricing-desc ul li::before {
          content: '\e94c';
          font-family: "LineIcons";
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          font-size: 1rem;
          color: #0811FB; }
        .pricing-card .pricing-desc ul li.times::before {
          content: '\e94d';
          color: #d63031; }
        .pricing-card .pricing-desc ul li:last-child {
          margin-bottom: 0; }
    .pricing-card .pricing-btn {
      position: relative;
      z-index: 1;
     }
      .pricing-card .pricing-btn .radix-btn {
        border: 2px solid #eff1f7;
        background-color: transparent;
        color: #0811FB;
        line-height: 44px; }
        .pricing-card .pricing-btn .radix-btn:hover, .pricing-card .pricing-btn .radix-btn:focus {
          color: #ffffff;
          border: 2px solid #0811FB;
          background-color: #0811FB; }
    .pricing-card.active {
      z-index: 100;
      height: 200px;
      background-color: #ffffff;
      -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
      transform: scale(1.1);
      box-shadow: 0 0 88px 2px rgba(47, 91, 234, 0.125); }
      @media only screen and (max-width: 767px) {
        .pricing-card.active {
          -webkit-transform: scale(1.05);
          -ms-transform: scale(1.05);
          transform: scale(1.05); } }
      .pricing-card.active .radix-btn {
  
        color: #ffffff;
        border: 2px solid #0811FB;
        background-color: #0811FB; }
        .pricing-card.active .radix-btn:hover, .pricing-card.active .radix-btn:focus {
          border: 2px solid #eff1f7;
          background-color: transparent;
          color: #0811FB; }
          .pricing-table-switch {
            position: relative;
            z-index: 1; }
            .pricing-table-switch .nav-tabs .nav-item {
              margin-bottom: 0; }
              .pricing-table-switch .nav-tabs .nav-item .nav-link {
                position: relative;
                z-index: 1;
                min-width: 125px;
                text-align: center;
                margin: 0 7.5px;
                border: none;
                border-radius: 4px;
                font-size: 1rem;
                padding: 10px 30px;
                text-transform: capitalize;
                background-color: #ffffff;
                border: 2px solid #eff1f7; }
                .pricing-table-switch .nav-tabs .nav-item .nav-link .popular-badge {
                  position: absolute;
                  padding: 5px 12px;
                  top: 0;
                  font-size: 12px;
                  right: -65%;
                  background-color: #00b894;
                  border-radius: 16px;
                  -webkit-transform: translate(-50%, -50%);
                  -ms-transform: translate(-50%, -50%);
                  transform: translate(-50%, -50%);
                  color: #ffffff; }
                  @media only screen and (max-width: 767px) {
                    .pricing-table-switch .nav-tabs .nav-item .nav-link .popular-badge {
                      right: -50%; } }
                .pricing-table-switch .nav-tabs .nav-item .nav-link.active {
                  border-color: #0811FB;
                  background-color: #0811FB;
                  color: #ffffff; }
          
          .radix-pricing-plan-area {
            position: relative;
            z-index: 1; }
            .radix-pricing-plan-area .price-shape img {
              position: absolute !important;
              transform: translateY(-50%);
              top: 50%;
              right: 0px;
              z-index: -5; }
            .radix-pricing-plan-area.price2 .price-shape img {
              right: auto;
              left: 0; }
            .radix-pricing-plan-area.price2 .pricing-card.active {
              background-color: #0b0757;
              border: 0 !important;
              overflow: hidden; }
              .radix-pricing-plan-area.price2 .pricing-card.active::after {
                width: 600px;
                height: 600px;
                border-radius: 50%;
                position: absolute;
                z-index: -1;
                background-color: rgba(255, 255, 255, 0.05);
                top: -300px;
                left: -300px;
                content: ""; }
              .radix-pricing-plan-area.price2 .pricing-card.active .pricing-heading .price h2 {
                color: #ffffff; }
              .radix-pricing-plan-area.price2 .pricing-card.active .pricing-desc ul li {
                color: #ffffff; }
                .radix-pricing-plan-area.price2 .pricing-card.active .pricing-desc ul li::before {
                  color: #fdd76e; }
                .radix-pricing-plan-area.price2 .pricing-card.active .pricing-desc ul li.times::before {
                  color: #d63031; }
              .radix-pricing-plan-area.price2 .pricing-card.active .radix-btn {
                border: 0;
                background-color: #fdd76e;
                color: #0b0757;
                line-height: 50px; }
                .radix-pricing-plan-area.price2 .pricing-card.active .radix-btn:hover, .radix-pricing-plan-area.price2 .pricing-card.active .radix-btn:focus {
                  color: #ffffff;
                  background-color: #0811FB; }
          
          /* Feature CSS */
          .feature-card {
            height: 80px;
            width: 250px;
            position: relative;
            z-index: 1;
            background-color: #ffffff;
            -webkit-transition-duration: 500ms;
            -o-transition-duration: 500ms;
            transition-duration: 500ms;
            overflow: hidden; }
            .feature-card::after {
              -webkit-transition-duration: 1000ms;
              -o-transition-duration: 1000ms;
              transition-duration: 1000ms;
              position: absolute;
              width: 100px;
              height: 100px;
              border-radius: 50%;
              background-color: #ffffff;
              opacity: 0.10;
              z-index: -1;
              content: '';
              bottom: -120px;
              right: -120px; }
            .feature-card i {
              -webkit-transition-duration: 500ms;
              -o-transition-duration: 500ms;
              transition-duration: 500ms;
              -webkit-box-flex: 0;
              -ms-flex: 0 0 45px;
              flex: 0 0 45px;
              min-width: 45px;
              width: 45px;
              height: 45px;
              border-radius: 50%;
              background-color: #0b0757;
              text-align: center;
              color: #ffffff;
              line-height: 45px;
              font-size: 20px;
              margin-right: 15px; }
            .feature-card h5 {
              color: #ffffff; }
            .feature-card h6 {
              margin-bottom: 0;
              -webkit-transition-duration: 500ms;
              -o-transition-duration: 500ms;
              transition-duration: 500ms; }
            .feature-card span {
              -webkit-transition-duration: 500ms;
              -o-transition-duration: 500ms;
              transition-duration: 500ms;
              font-size: 14px; }
            .feature-card.active, .feature-card:hover, .feature-card:focus {
              border-color: #0b0757;
              background-color: #0b0757;
              box-shadow: 0 18px 56px rgba(255, 255, 255, 0.175); }
              .feature-card.active::after, .feature-card:hover::after, .feature-card:focus::after {
                bottom: -50px;
                right: -40px; }
              .feature-card.active i, .feature-card:hover i, .feature-card:focus i {
                box-shadow: 0 2px 38px rgba(255, 255, 255, 0.4); }
              .feature-card.active h6,
              .feature-card.active span, .feature-card:hover h6,
              .feature-card:hover span, .feature-card:focus h6,
              .feature-card:focus span {
                color: #ffffff; }
          
          .radix-features-area {
            position: relative;
            z-index: 1;
            background-color: #0811FB;
            overflow: hidden; }
            .radix-features-area .background-shape {
              position: absolute;
              width: 1200px;
              height: 1200px;
              border-radius: 50%;
              background-color: rgba(255, 255, 255, 0.09);
              transform: rotate(-30deg);
              top: -600px;
              left: -500px;
              z-index: -5; }
            .radix-features-area .row .row .col-12:first-child .feature-card i {
              background-color: #00b894; }
            .radix-features-area .row .row .col-12:nth-child(2) .feature-card i {
              background-color: #0b0757; }
            .radix-features-area .row .row .col-12:nth-child(3) .feature-card i {
              background-color: #fdd76e;
              color: #0b0757; }
            .radix-features-area .row .row .col-12:nth-child(4) .feature-card i {
              background-color: #0811FB; }
            .radix-features-area .row .row .col-12:nth-child(5) .feature-card i {
              background-color: #00b894; }
            .radix-features-area .row .row .col-12:nth-child(6) .feature-card i {
              background-color: #0b0757; }
            .radix-features-area.feature2 {
              background-color: #f5f5ff; }
              